<!DOCTYPE html>
<html>
<head>

  <meta property="og:title" content="Социальный граф ВК" />
  <meta property="og:image" content="https://pp.userapi.com/c855720/v855720910/4112f/fhefCZhhKh4.jpg" />
  
    <title>Граф друзей</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'vivagraph.min.js' %}"> </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>

    <script type="text/javascript">
        function main () {
            // This demo shows how to create an SVG node which is a bit more complex
            // than single image. Do accomplish this we use 'g' element and
            // compose group of elements to represent a node.

            var graph = Viva.Graph.graph();
            var layout = Viva.Graph.Layout.forceDirected(graph, {
              springLength: 30,
              springCoeff: 0.000008,
              dragCoeff: 0.1,
              gravity: -1.2,
              theta: 1
            });

            var graphics = Viva.Graph.View.svgGraphics(),
                nodeSize = 24;  
                highlightRelatedNodes = function(nodeId, isOn) {
                   // just enumerate all realted nodes and update link color:
                   graph.forEachLinkedNode(nodeId, function(node, link){
                       var linkUI = graphics.getLinkUI(link.id);
                       if (linkUI) {
                           // linkUI is a UI object created by graphics below
                           linkUI.attr('stroke', isOn ? 'red' : 'gray');
                       }
                   });
                };

              //var additional_data = [];

            {% for dict in vertices %}
              graph.addNode('{{dict.name}}', ['{{dict.photo}}', '{{dict.size}}', '{{dict.vklink}}']);
            {% endfor %}

            {% for e0, e1 in edges %}
                graph.addLink('{{e0}}', '{{e1}}');
            {% endfor %}

            graphics.node(function(node) {
              // This time it's a group of elements: http://www.w3.org/TR/SVG/struct.html#Groups
              var ui = Viva.Graph.svg('g'),
                  // Create SVG text element with user id as content
                  svgText = Viva.Graph.svg('text').attr('y', '-4px').text(node.id),
                  img = Viva.Graph.svg('image')
                     .attr('width', node.data[1])
                     .attr('height', node.data[1])
                     .link(node.data[0]);

                $(ui).hover(function() { // mouse over
                    highlightRelatedNodes(node.id, true);
                }, function() { // mouse out
                    highlightRelatedNodes(node.id, false);
                });

                // Right click
                ui.addEventListener('contextmenu', function(el) {                  
                    window.open(node.data[2])

                    el.preventDefault();
                    return false;
                }, false);
                
              ui.append(svgText);
              ui.append(img);
              return ui;
            }).placeNode(function(nodeUI, pos) {
                // 'g' element doesn't have convenient (x,y) attributes, instead
                // we have to deal with transforms: http://www.w3.org/TR/SVG/coords.html#SVGGlobalTransformAttribute
                nodeUI.attr('transform',
                            'translate(' +
                                  (pos.x - nodeSize/2) + ',' + (pos.y - nodeSize/2) +
                            ')');
            });

            // Render the graph
            var renderer = Viva.Graph.View.renderer(
              graph, 
              {
                  graphics : graphics,
                  layout : layout
              });
            renderer.run();
        }
    </script>

    <style type="text/css" media="screen">
      html, body, svg {
          height: 100%;
          width: 100%;
      }
      #info {
          position: absolute;
          top: 0px;
          right: 10px;
          padding: 7px 17px 7px 7px;
          background-color: #EFEFEF;
          display: block;
          min-width: 220px;
      }
    </style>
</head>
<body onload='main()' style="overflow:hidden">

      <script type="text/javascript"><!--
        document.write(VK.Share.button({
          title: 'Социальный граф ВК',
          description: 'Это приложение позволяет вам увидеть и исследовать социальную структуру людей, с которыми вы дружите в ВКонтакте.',
          image: 'https://pp.userapi.com/c856036/v856036067/402e4/EEQTXGSnbdk.jpg',
          noparse: true
        }, {
          text: "Поделиться графом",
          type: "round"
        }));
    --></script>

    <h3 id="info">Нажмите правой кнопкой мыши, чтобы открыть профиль.</h3>

    <hr>
</body>
</html>
